h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

ol{
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}